<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="semantic-ui-custom.css">
	<style>
		<%= style %>
	</style>
</head>
<body id="item-<%= id %>">
	<%= content %>
	<script>
		<%= script %>
	</script>
</body>
</html>