<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		<%= material[:style] %>
	</style>
</head>
<body id="item-<%= id %>" data-type="body">
	<%= content %>
	<script>
		<%= material[:script] %>
	</script>
</body>
</html>