<div id="item-<%= id %>" class="ui blue progress" data-type="progress">
	<div class="bar" style="width: <%= percent %>%;">
	<div class="progress"><%= percent %>%</div>
	</div>
	<div class="label"><%= text %></div>
</div>